div.align-left {
    text-align: left;
}

div.small {
    width: fit-content;
    margin: 0 auto;
}

div.font-size-p {
    font-size: 18px;
}


body {
    background-color: #222;
    color: #fff;
    font-family: monospace;
}

header {
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 30px;
}

h1 a {
    color: #fff;
    text-decoration-color: #fff;
}

h2 {
    text-align: center;
    font-size: 25px;
}

p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

p a {
    color: #acf;
}

main {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #282828;
    border-radius: 20px;
    margin-bottom: 40px;
}

.product-list, .order-form {
    margin-bottom: 30px;
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    left: 0px;
}

.queue-full {
    color: #f88;
    font-weight: bolder;
    text-align: center;
}

.queue-full * {
    color: #f88;
}

.queue-avlb {
    color: #8f8;
    font-weight: bolder;
    text-align: center;
}

.queue-avlb * {
    color: #8f8;
}

.queue-tbfl {
    color: #ff8;
    font-weight: bolder;
    text-align: center;
}

.queue-tbfl * {
    color: #ff8;
}

.queue-prio {
    color: #f8f;
    font-weight: bolder;
    text-align: center;
}

.queue-prio * {
    color: #f8f;
}

.queue-err0 {
    color: #f88;
    font-weight: bolder;
    text-align: center;
}

color.priority {
    background: linear-gradient(to bottom, #faf, #f5f);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

color.priority a {
    background: linear-gradient(to bottom, #faf, #f5f);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: underline;
    text-decoration-color: #f5f;
}

color.red {
    color: #faa;
}

color.buy a {
    background: linear-gradient(to bottom, #292, #8f8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: underline;
    text-decoration-color:  #8f8;
}

color.buy {
    background: linear-gradient(to bottom, #292, #8f8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

color.money {
    background: linear-gradient(to bottom, #bb0, #ffa);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

qstatus.normal.fixed {
    font-weight: bolder;
    background: #fff;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

qstatus.priority.fixed {
    font-weight: bolder;
    background: linear-gradient(to bottom, #faf, #f5f, #f5f);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

qstatus.normal.slippery {
    font-weight: bolder;
    background: #aaa;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

qstatus.priority.slippery {
    font-weight: bolder;
    background: #959;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

taskstatus.done {
    font-weight: bolder;
    color: #8f8;
}

taskstatus.doing {
    font-weight: bolder;
    color: #ff8;
}

taskstatus.todo {
    font-weight: bolder;
    color: #f88;
}